nav li {
    list-style: none;
    display: inline;
    margin-right: 8px;
    padding: 5px 10px;
}
nav li:hover{
    background-color: aqua;
}
nav li a{
    text-decoration: none;
    color: black;
}
label{
    display: block;
    margin-bottom: 5px;
}